@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Heebo:wght@100;200;600;700;800&display=swap');

// Font.
$font: (
    primary: (
        'Assistant', sans-serif
    )
);

// Palette.
$palette: (
    primary: #666666,
    secondary: darken(#666666, 30%),
    meta: lighten(#666666, 23%),
    border: lighten(#666666, 38%),
    bg: lighten(#666666, 55%),
    accent: #ffd300,
    accent-blue: #1fa2ff,
    accent-green: #24b466,
    accent-red: #f45a4e,
    bg-light: #f3f3f3,
    bg-hover: #f05b6b
);

@import 'imports/functions';
@import 'imports/reset';
@import 'imports/general';
@import 'imports/icons';
@import 'imports/structure';
@import 'imports/header';
@import 'imports/posts-pages';
@import 'imports/footer';
@import 'imports/palettes';
@import 'imports/banner';
