/**
 * Posts and Pages
 */
.post {
    // margin-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // box-shadow: inset rgba(255 ,255 ,255 , 72%) 0px 97px 38px 0px;
}

.post-full {
    padding: 2.5em 4vw 1.66667em;
}
.post-header {
    margin-bottom: 1.66667em;
}

.post-title {
    margin-bottom: 0.66667rem;

    a {
        border: 0;
        // text-shadow: 1px 3px 3px white;
        color: #f05b6b;
        background: #fff;
        padding: 7px 25px 10px 13px;

        &:hover {
            color: white;
            // text-shadow: 1px 3px 3px rgb(73, 73, 73);
            background: #f05b6b;
            padding: 7px 25px 10px 13px;
        }
    }
}

.post-meta {
    color: _palette(meta);
    font-size: 0.88889rem;
}

.post-thumbnail {
    border: 0;
    display: block;
    margin-bottom: 2.5em;

    img {
        width: 100%;
    }
}

.post-subtitle {
    color: _palette(secondary);
    font-size: 1.33333rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.post-content {
    max-width: 750px;
    img {
        margin: 10px 0 ;
        width: 100vw;
    }
    iframe[src*="vimeo.com"],
    iframe[src*="youtube.com"] {
        display: block;
        margin-bottom: 1.66667rem;
        margin-top: 1.66667rem;

        &:first-child {
            margin-top: 0;
        }
    }
}
.read-more {
    margin: 10px;
    align-self: flex-end;
    background-color: white;
}
.read-more-link {
    color: _palette(secondary);
    display: inline-block;
    font-size: 0.88889rem;
    font-weight: bold;
    padding: 0.3em 24px 0.3em 0;
    position: relative;
    margin: 10px 20px 20px 20px;

    .icon-arrow-right {
        left: auto;
        margin-left: 0;
        margin-right: 2px;
        right: 0;
    }
}

.post-feed {
    padding: 2.5em 4vw 1.66667em;

    &.home{
        display: grid;
        grid-template-columns: auto;
        gap: 25px;
    }
    .post {
        // border-bottom: 1px dashed _palette(border);
        // padding-bottom: 0.83333em;

        &:last-child {
            border: 0;
            padding-bottom: 0;
        }        
    }

    // @media only screen and (min-width: 1091px) {
    //     padding-left: 6vw;
    //     padding-right: 6vw;
    // }
    
    // @media only screen and (min-width: 1501px) {
    //     padding-left: 130px;
    //     padding-right: 130px;
    // }


    .post-header,
    .post-thumbnail {
        margin-bottom: 400px;
        padding: 23px 0 0 0 ;
    }

    .post-title {
        margin: 10px 20px;
        font-size: 1.66667rem;
    }

    .post-meta {
        font-size: 14px;
    }
}

@media only screen and (min-width: 601px) {
    .post {
        // margin-bottom: 3.33333em;
    }

    .post-header {
        margin-bottom: 2.5em;
    }

    .post-feed {
        .post {
            // padding-bottom: 1.66667em;
        }
    }
}
